<div class="container">
  <div style="text-align: justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu
    porttitor mauris. Pellentesque congue odio at diam pharetra, id dictum ante
    pellentesque. Mauris aliquet hendrerit odio, quis efficitur nulla aliquam
    vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. Curabitur porttitor libero arcu, ullamcorper varius
    lorem aliquet at. Curabitur cursus faucibus purus, sed efficitur lorem
    faucibus lacinia. Sed sit amet consectetur sapien, at vestibulum
  </div>
  <br />
  <div style="text-align: justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu
    porttitor mauris. Pellentesque congue odio at diam pharetra, id dictum ante
    pellentesque. Mauris aliquet hendrerit odio, quis efficitur nulla aliquam
    vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. Curabitur porttitor libero arcu, ullamcorper varius
    lorem aliquet at. Curabitur cursus faucibus purus, sed efficitur lorem
    faucibus lacinia. Sed sit amet consectetur sapien, at vestibulum
  </div>
  <br />
  <div style="text-align: justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu
    porttitor mauris. Pellentesque congue odio at diam pharetra, id dictum ante
    pellentesque. Mauris aliquet hendrerit odio, quis efficitur nulla aliquam
    vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. Curabitur porttitor libero arcu, ullamcorper varius
    lorem aliquet at. Curabitur cursus faucibus purus, sed efficitur lorem
    faucibus lacinia. Sed sit amet consectetur sapien, at vestibulum
  </div>
</div>
