{{ $type := default "Tasks" (.Get "tasktype") }}
{{ $leaderboard := slice "leaderboard_task_name"}}
{{ $field := "dataset_name" }}
{{ $datasets := slice }}
{{ range $file, $result := $.Site.Data.results }}
    {{if or (eq $type "Tasks") (eq (index $result $leaderboard) $type)}}
        {{ $datasets = uniq ($datasets | append (index $result $field)) }}
    {{end}}
{{end}}

<select name="datasets" id="datasets">
    {{ range $dataset := $datasets }}
    <option value="{{$dataset}}" id=""> {{$dataset}}</option>
    {{end}}
</select>
<div id="temp"></div>
<script>
    const e = document.getElementById("datasets");
    const data = document.getElementById("temp");
    data.innerHTML = e.value;
    e.onchange = ()=>{
        data.innerHTML = e.value;
    }


</script>