{{ $tasktype := default "Tasks" (.Get "tasktype") }}
{{ $modelsTemp := slice }}
{{ range $file, $result := $.Site.Data.results }}  
    {{ $modelsTemp = uniq ($modelsTemp | append (index $result "embedding_name")) }}
{{end}}
{{ $models := slice }}
{{ range $model := $modelsTemp }}  
{{ $models = uniq ($models | append (index $model "value")) }}
{{end}}

<style scoped>
    .title {
      font-size: 32px;
      font-weight: 300;
      margin: 0.5em 0;
      text-align: center;
    }
</style>
<div style="margin: 0 2em;">
    <div class="container title-container">     
       <div class="title">{{ $tasktype }}</div>
</div>

{{ $models }}