{{ $tasktype := default "Tasks" (.Get "tasktype") }}
{{ $modelsTemp := slice }}
{{ range $file, $result := $.Site.Data.results }}  
    {{ $modelsTemp = uniq ($modelsTemp | append (index $result "embedding_name")) }}
{{end}}
{{ $models := slice }}
{{ range $model := $modelsTemp }}  
{{ $models = uniq ($models | append (index $model "value")) }}
{{end}}

{{ $metrics := slice }}
{{ $metricsToIgnore := slice "classes" "f1_weighted" "recall_weighted" "precision_weighted" }}
{{ range $.Site.Data.results }}
   {{ range $k, $v := .metrics_avg }}
      {{if (not (in $metricsToIgnore $k)) }}
         {{ $metrics = uniq ($metrics | append $k) }}
      {{end}}
   {{ end }}
{{ end }}
{{ $sum := slice }}
<style scoped>
    .title {
      font-size: 32px;
      font-weight: 300;
      margin: 1em 0;
      margin-top: 2em;
      text-align: center;
    }
    #data-table{
        max-width: 800px;
        margin: auto;
    }
</style>
<div style="margin: 0 2em;">
    <div class="container title-container">    
        {{ if eq $tasktype "Tasks"}} 
       <div class="title">Leaderboard</div>
       {{else}}
       <div class="title">{{ $tasktype }}</div>
       {{end}}
       
</div>

<div id="data-tasktype" style="visibility: hidden; height: 0px; overflow: hidden;">{{ $tasktype }}</div>
<div id="data-avarage" style="visibility: hidden; height: 0px; overflow: hidden;">
{{ range $model := $models }}
    {{ range $metric := $metrics }}
        {{ range $file, $result := $.Site.Data.results }}
            {{if eq ( index (index $result "embedding_name") "value") $model}}
                {{ $sum := ($sum | append (index $result "metrics_avg" $metric))}}
                <div> {{ $model }};;{{ $metric }};;{{(index $result "leaderboard_task_name")}};;{{(index $result "dataset_name")}};;{{index $result "metrics_avg" $metric}}</div>
            {{end}}
        {{end}}
    {{end}}
{{end}}
</div>

<table id="data-table" >
    <thead>
        <tr>
            <th>
                Model
            </th>
            {{ range $metric := $metrics }}
                <th>
                    {{ $metric  |  humanize  }}
                </th>
            {{end}}
       </tr>
    </thead>
    <tr id="table-rows">

    </tr>
 </table>

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/js/tabulator.min.js" integrity="sha512-N/WbW5rCM/O+/QpzuqYXkInRdSfFu6txbJcbQioBywGXDiF1XCJY2LXVKIGjNFUMS4P79mtf9pDu5ViXaa+BnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/css/bootstrap/tabulator_bootstrap4.min.css" integrity="sha512-pXZ8FsuOBAyDmJ3OWob4V2UgZWQ8zs8f99MrNv0sBG8VLzuucajpzJ3BIiVNzTpfIYgzWGUq0QPJ3Y/9Gr4h7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 <script>
    let table = new Tabulator("#data-table", {
        layout:"fitColumns",
        movableColumns: true
    });
         
    let formattedColumns = table.getColumnDefinitions().map(c => { c.formatter = "html"; return c})       
    formattedColumns.forEach((col,i) => {
        if(i==0){
            col.widthGrow = 3;
            col.headerFilter = true;
        }else{
            col.formatter = "money";
            col.hozAlign = "center";
            col.formatterParams = {
                precision:3,
            };
            col.headerFilter = false;
        }
    })
    table.setColumns(formattedColumns);


    const dataDiv = document.getElementById("data-avarage");
    let array = [...dataDiv.children];
    let dataArray = []
    array.forEach((el)=>{
        const temp = el.innerHTML.split(";;");
        dataArray.push({model: temp[0], metric: temp[1], task: temp[2], dataset: temp[3], value: temp[4]})
    })

    const tasktype = document.getElementById("data-tasktype").innerHTML;
    const uniqueModels = [...new Set(dataArray.map(item => item.model))];
    const uniqueMetric = [...new Set(dataArray.map(item => item.metric))];
 
    let values = new Array(0);
    uniqueModels.forEach(model => {
        let modelObj = {model: model};
        dataArray.forEach(el =>{
            if( (tasktype == "Tasks" || el.task == tasktype) && el.model == model){
                uniqueMetric.forEach( m =>{
                    if(el.metric == m){
                        if(modelObj[m+"_sum"] == undefined){
                            modelObj[m+"_sum"] = +el.value;
                            modelObj[m+"_count"] = 1;
                            modelObj[m] = modelObj[m+"_sum"] / modelObj[m+"_count"];
                        }else{
                            modelObj[m+"_sum"] += +el.value;
                            modelObj[m+"_count"] += 1;
                            modelObj[m] = modelObj[m+"_sum"] / modelObj[m+"_count"];
                        }
                    }
                })
            }
        })
        if(Object.keys(modelObj).length>1){
            const deleteKeys = Object.keys(modelObj).filter( item => item.includes("_sum") || item.includes("_count"));
            deleteKeys.forEach(d => {
                delete modelObj[d];
            })
            values.push(modelObj);
        }
    })
    table.replaceData(values);

 </script>