<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700"
    />
    <style>
      body {
        font-family: Open Sans;
      }
      .homepage.title {
        font-size: 32px;
        font-weight: 300;
        margin-top: 3em;
      }
      .homepage.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        color: #6e6e6e;
      }
      .homepage.title.tasks {
        margin-top: 3em;
      }
    </style>
  </head>
  <body>
    <div class="homepage container">
      <div class="homepage title">Test test test</div>
      <div style="text-align: justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu
        porttitor mauris. Pellentesque congue odio at diam pharetra, id dictum
        ante pellentesque. Mauris aliquet hendrerit odio, quis efficitur nulla
        aliquam vitae. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Curabitur porttitor libero arcu,
        ullamcorper varius lorem aliquet at. Curabitur cursus faucibus purus,
        sed efficitur lorem faucibus lacinia. Sed sit amet consectetur sapien,
        at vestibulum
      </div>
      <div class="homepage title tasks">Tasks</div>
    </div>
  </body>
</html>
